@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --orange-color: #f79e1b;
  --black-color: #373737;
  --white-color: #ffffff;
  --light-grey:#838383;
  --dark-color:#000000;
  --ff-poppins: "Poppins", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-mona-sans: "Mona Sans", sans-serif;
  --text-5xl: 4rem; /* 64px */
  --text-4xl: 3.5rem; /* 55px */
  --text-3xl: 2rem; /* 32px */
  --text-2xl: 1.875rem; /* 30px */
  --text-xl: 1.5rem; /* 24px */
  --text-lg: 1.25rem; /* 20px */
  --text-md: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
}

/* Navbar */
.navbar {
  font-family: var(--ff-poppins);
  font-weight: 500;
  font-size: 16px;
}
.nav-link {
  color: var(--black-color);
}

.sign-up-btn {
  background-color: var(--orange-color);
  border: none;
  color: var(--white-color);
  padding: 11px 21px;
  border-radius: 10px;
}
.navbar-nav {
  display: flex;
  gap: 20px;
}
.navbar-nav a:hover {
  color: var(--orange-color);
}
/* header */
header {
  background:
    /* linear-gradient(
      rgba(47, 45, 45, 0),
      rgba(0, 0, 0, 1)
    ), */ url("assests/services-hero-img.png");

  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 22px;
  /* margin: 40px 0; */
  color: var(--white-color);
  width: 100%;
  max-width: 1390px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
header > div {
  padding-bottom: 45px;
}
header h2 {
  font-size: var(--text-5xl);
  font-family: var(--ff-mona-sans);
  font-weight: 900;
}
header p {
  font-size: var(--text-xl);
  font-family: var(--ff-poppins);
  font-weight: 400;
  max-width: 50%;
  padding-top: 20px;
}
/* main - section-1 */
.img-div img{
    border-radius: 20px;
}
.text-div{
    font-family: var(--ff-inter);
}
.text-div h3{
    font-size: var(--text-2xl);
    font-weight: 600;
    color: var(--black-color);
}
.text-div p{
    font-weight: 400;
    font-size: var(--text-md);
    color: var(--light-grey);
}
@media(max-width:1280px){
    header{
          border-radius: 0;

    }
}

/* tablet screen */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Navbar */
  .navbar-nav {
    gap: 5px;
  }
  .navbar-nav a:hover {
    color: var(--black-color);
  }
   /* header */
  header {
    border-radius: 0;
    justify-content: center;
    min-height: 70vh;
    padding-inline: 0;
  }
  header > div {
    padding-bottom: 45px;
  }
  header h2 {
    font-size: var(--text-4xl);
    font-family: var(--ff-mona-sans);
  }
  header p {
    font-size: var(--text-3xl);
    max-width: 100%;
  }
    /* main - section-1 */
.img-div img{
    border-radius: 10px;
}
.text-div h3{
    padding-top: 30px;
}
}

/* mobile screen */
@media (max-width: 767.98px) {
  /* Navbar */
  .navbar-nav {
    gap: 1px;
  }
  .navbar-nav a:hover {
    color: var(--black-color);
  }
  /* header */
  header {
    border-radius: 0;
    justify-content: center;
    min-height: 70vh;
    padding-inline: 0;
  }
  header > div {
    padding-bottom: 45px;
  }
  header h2 {
    font-size: var(--text-3xl);
    font-family: var(--ff-mona-sans);
  }
  header p {
    font-size: var(--text-lg);
    max-width: 100%;
  }

  /* main - section-1 */
.img-div img{
    border-radius: 10px;
}
.text-div h3{
    padding-top: 30px;
}
}
